In [1]:
#Integers
print(3 + 2)
print(3 - 2)
print(3 * 2)
print(3 / 2)
print(3 ** 2) #exponent power
print(3 % 2) #modulus
print(3 // 2) #floor division

5
1
6
1.5
9
1
1

In [2]:
print(type(10))
print(type(3.14))
print(type(1 + 3j))
print(type('sharavan'))
print(type([1,2,3]))
print(type({'name':'sharavan'}))
print(type({9.8, 3.14, 2.7}))
print(type((9.8, 3.14, 2.7)))
print(type(3 == 3))
print(type(3 >= 3))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'bool'>
<class 'bool'>

In [3]:
first_name = 'YS'
last_name = 'sharavan'
country = 'IND'
city = 'AP'
age = 20
is_married = 'False'
skills = ['C', 'JAVA', 'PYTHON', 'SQL']
personal_info = {
    'firstname':'ys',
    'lastname':'sha',
    'country':'IND',
    'city':'AP'
}

In [5]:
print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', personal_info)

First name: YS
First name length: 2
Last name:  sharavan
Last name length:  8
Country:  IND
City:  AP
Age:  20
Married:  False
Skills:  ['C', 'JAVA', 'PYTHON', 'SQL']
Person information:  {'firstname': 'ys', 'lastname': 'sha', 'country': 'IND', 'city': 'AP'}

In [6]:
first_name, last_name, country, age, is_married = 'ys', 'sha', 'IND', 20, False

In [7]:
print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

ys sha IND 20 False
First name: ys
Last name:  sha
Country:  IND
Age:  20
Married:  False

In [ ]:
letter = 'P'
print(letter)
print(len(letter))
greeting = 'Hello, World!'
print